.btn-primary{
    border: 3px solid #FFD631;
    background-color: #FFD631;
    padding: 5px 25px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.3s;
    margin: 0 5px;
}

.btn-primary:hover{
    border: 3px solid #FFD631;
    background-color: white;
    color: #000000;
}

.btn-secondary{
    border: 3px solid #000000;
    background-color: #ffffff;
    padding: 5px 25px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.3s;
    margin: 0 5px;
}

.btn-secondary:hover{
    border: 3px solid #000000;
    background-color: #FFD631;
    color: #000000;
}

.nav-link{
    color: #FFD631;
}